<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anantdevelopers.swipesinalpha">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".OptionsMenuResources.SettingsActivity.ProfileActivity"
            android:screenOrientation="locked"></activity>
        <activity
            android:name=".OptionsMenuResources.AboutActivity"
            android:screenOrientation="locked"/>
        <activity
            android:name=".OptionsMenuResources.FruitsInNewsActivity"
            android:screenOrientation="locked"/>
        <activity
            android:name=".OptionsMenuResources.FruitsAreHealthyActivity"
            android:screenOrientation="locked"/>
        <activity
            android:name=".OptionsMenuResources.SettingsActivity.SettingsActivity"
            android:screenOrientation="locked"/>
        <activity
            android:name=".CheckoutFlow.CheckoutFlow"
            android:screenOrientation="locked" />
        <activity
            android:name=".UserProfile.UserProfile"
            android:screenOrientation="locked" />
        <activity
            android:name=".Authentication.AuthActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="locked">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>